@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/placeholder";
@import "./base/common";
@import "./base/reset";

@import "./components/button";
@import "./components/container";
@import "./components/logo";
@import "./components/social-media";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/ourwork";
@import "./layout/team";
@import "./layout/client";
@import "./layout/footer";

@import "./portfolio/portfolio";

@import "./layout/modal";
