.ourwork {
  padding-bottom: 94px;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;

    background-color: $ourwork-bottom;
  }
}
