body {
  background-color: $primary-white;
  color: $main-text-color;
  font-family: roboto, sans-serif;
}

.list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.title {
  color: $title-text-color;
}

.text {
  color: $main-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
